<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- камера для зрения -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- микрофон для речи -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- интернет для OpenAI -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Ты смартфон слепой"
        android:theme="@style/Theme.App">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
