name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17 (Temurin)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3
        with:
          # Ставим нужные платформы/инструменты; при необходимости добавь другие
          packages: |
            platforms;android-34
            build-tools;34.0.0
            platform-tools
            tools

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Gradle assembleDebug
        run: ./gradlew --stacktrace --no-daemon :app:assembleDebug

      - name: Upload APK (debug)
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/*.apk
